.App {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  color: white;

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  height: 50px;
  width: 100%;
}

img {
  display: flex;
  flex: 25%;
}

#navbar {
  display: flex;
  justify-content: center;
  flex: 50%;
}

#navbar ul {
    list-style-type: none;
    display: inline-flex;
}

/* #navbar ul li a {
  justify-content: space-around;
} */

input {
  display: flex;
  flex: 25%;
}